<!DOCTYPE html>
<html lang="ko">

<head>
  <title>HOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    body,
    html {
      font-family: "Noto Sans KR", sans-serif !important;
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    a:hover {
      /* text-decoration: underline; */
      cursor: pointer;
    }
    .cta-100 {
      margin-top: 0px;
      padding-left: 8%;
      padding-top: 7%;
    }

    .col-md-4 {
      padding-bottom: 20px;
    }

    .white {
      color: #fff !important;
    }

    .mt {
      float: right;
      margin-top: -20px;
      padding-top: 20px;
    }

    .bg-blue-ui {      background-color: #708198 !important;    }

    figure img {      width: 300px;    }
    #blogCarousel {      padding-bottom: 10px;    }
    .blog .carousel-indicators {      left: 0;      top: -50px;      height: 50%;    }


  /* The colour of the indicators */
  .blog .carousel-indicators li {      background: #708198;      border-radius: 50%;      width: 8px;      height: 8px;    }
  .blog .carousel-indicators .active {      background: #0fc9af;    }
  .item-carousel-blog-block { outline: medium none; padding: 15px;}
  .item-box-blog {      border: 1px solid #dadada;      text-align: center;      z-index: 4;      padding: 20px;    }
  .item-box-blog-image {      position: relative;    }
  .item-box-blog-image figure img {      width: 100%;      height: auto;   }
  .item-box-blog-image figure video {      width: 100%;      height: auto;    }
  .item-box-blog-date {      position: absolute;      z-index: 5;      padding: 4px 20px;      top: -20px;      /* right: 8px; */      background-color: #41cb52;    }
  .item-box-blog-date span {      color: #fff;      display: block;      text-align: center;      line-height: 1.2;    }
  .item-box-blog-date span.mon {      font-size: 18px;    }
  .item-box-blog-date span.day {      font-size: 16px;   }
  .item-box-blog-body {      padding: 10px;    }
  .item-heading-blog a h5 {      margin: 0;      line-height: 1;      text-decoration: none;      transition: color 0.3s;    }
  .item-box-blog-heading a {      text-decoration: none;   }
  /* item-box-blog-data {      font-size: 10px; margin-bottom: 10px; } */
  .item-box-blog-text p {      font-size: 14px; margin-bottom: 7px; }
  .item-box-blog-data p i {      font-size: 1px; margin-bottom: 5px;  } 
  .item-box-blog-text {      max-height: 50px;   margin-bottom: 5px;   /* overflow: hidden; */    }
  .mt-10 {      float: left;      margin-top: -10px;      padding-top: 10px;    }
  .btn.bg-blue-ui.white.read {      cursor: pointer;      padding: 4px 20px;      float: left;      margin-top: 10px;    }
  .item    {      text-decoration: none;      color: #333;    }
  .btn.bg-blue-ui.white.read:hover {      box-shadow: 0px 5px 15px inset #4d5f77;    }

/* congratulations */
#divPortletCongratulations table {width:100%;}
#divPortletCongratulations .wNoData {/* display:none;  */text-align:left;}
.widgetTable h4 {padding-left:25px; color:#f44179; font-size:17px; font-weight:normal; font-family:"LGSmHaR"; background:url(../../images/lgcns/icon/congraturation.png) no-repeat 0 0;}
.widgetTable .birthday h4 {margin-top:30px; background-position:0 -3px;}
.widgetTable .wedding  h4 {margin-top:30px; background-position:0 -28px}
.widgetTable .long_service h4 {margin-top:30px; background-position:0 -53px}
.widgetTable .congratulations li {margin-top:15px;}
.widgetTable .congratulations li a {display:table; table-layout:fixed; width:100%; font-size:14px;}
.widgetTable .congratulations li em {display:table-cell; width:15%; font-style:normal; color:#000}
.widgetTable .congratulations li strong {overflow:hidden; display:table-cell; width:28%; font-weight:bold; color:#000; white-space:nowrap; text-overflow:ellipsis;}
.widgetTable .congratulations li span {overflow:hidden; display:table-cell; color:#888; white-space:nowrap; text-overflow:ellipsis;}
.widgetTable .congratulations li.today em {font-weight:bold;}
.widgetTable .congratulations li.today strong {font-weight:bold;}

 /* board Table1 : title/name/date ------------------------------*/
.widgetTable {position:relative; /* padding-bottom:38px; */}
.widgetTable .btn_config {position:absolute; top:-3px; right:0; display:block; width:20px; height:20px; border:none; font-size:0; background:url(../../images/lgcns/icon/btn_admin.png) no-repeat 50% 50%; background-size:12px 13px; cursor:pointer; opacity:0.5}
.widgetTable h3 {color:#f44179; text-transform:uppercase; font-size:20px; font-family:"LGSmHaR";}
.widgetTable ul {padding-bottom:20px;}
.widgetTable li {margin-top:10px; }
.widgetTable li, .widgetTable li a {font-size:12px; color:#999;}
.widgetTable li a.wName:hover {color:#000}
.widgetTable li strong {display:block; margin-bottom:5px;}
.widgetTable li strong a {overflow:hidden; display:block; font-family:"LGSmHaR"; font-size:16px; font-weight:normal; color:#555; text-overflow:ellipsis; white-space:nowrap;}
.widgetTable li strong a:hover {color:#000;}
.widgetTable .configArea {display:none; border-bottom:1px #ddd solid}
.widgetTable .configArea .blockButton {padding-bottom:20px;}
.widgetTable .configArea .button {padding:0 8px; height:24px; line-height:23px;}
.widgetTable .configArea ul {padding-bottom:0;}
.widgetTable .congratulationConfig li select {margin-right:8px;}
.widgetTable .congratulationConfig li span {margin-right:5px;}
.widgetTable .congratulationConfig li label {margin-right:8px; }
.widgetTable .congratulationConfig li label input {margin-top:-1px; margin-right:5px;}

/* widgetMail -----------------------------------------------------------------*/
.widgetMail li {position:relative;}
.widgetMail li::after {position:absolute; left:0; bottom:1px; content:"\f2b7"; color:#aaa; font-size:14px; font-family:fontAwesome}
.widgetMail li.unread::after {bottom:0; content:"\f003"; color:#f92465}
.widgetMail li > a {margin-left:22px; display:inline-block; max-width:200px; white-space:nowrap;}
.widgetMail li > span {display:inline-block; vertical-align:bottom;}
.widgetMail .mailConfig li::after, .widgetMail li.wNoData::after {content:""}

/* carousel-item----------------------------------------------------------------*/
/* .item-box-blog-heading a > p {"color:#f44179;"} */



  </style>
</head>

<body>

  <div style="height: 50px; 
            padding-top: 10px;
            padding-bottom: 20px;
  ">
  <a href="/home2">
    <img src="/logo.png"
      style="border-right: 1px solid hsl(0 0% 87% / 1); 
      padding-right: 20px; 
      padding-left: 20px; "></a>
    <!-- <a href="/home2" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">HOME</a> -->
    <a href="/modelList" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Modeling</a>
    <a href="/BBS" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">BBS</a>
    <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">History</a>
    <!-- <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">EATS-Online</a>
    <a href="/Simulation" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Simulation</a> -->
    <a href="/" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">ADMIN</a>
    <% if(sess) { %>
      <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color: hsl(0 0% 50% / 1);">
        Logout</a>
      <% } %>
  </div>

  <div style="background-color: hsl(0,0%,97%); 
            padding: 25px 100px; 
            position: sticky;
            top: 0; 
            height: 10%;
            border-bottom: 1px solid hsl(0 0% 87% / 1);
            border-top: 1px solid hsl(0 0% 87% / 1);
            margin-top: 10px;
            font-size: 19px;
            ">
    Welcome, LG CNS <%=sess%> 님
    <% if(sess) { %>
      <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color:rgba(255, 0, 0, 0.609);">
         To-Do : 5건</a>
      <% } %>
  </div>



  <!--
  <div style="height: 100%; padding-left: 150px; padding-top: 150px;">
    <div style="display: inline-block; width: 40%;">
      <img src="/bpmn-js.gif" style="width: 100%; border: 4px dashed #bcbcbc;">
    </div>
    <div style="display: inline-block; width: 50%; height: 100%; vertical-align: top; padding-left: 150px;">
      <h1>공정 운영 시나리오 모델러</h1>
      <br>
      <ul style="font-size: 20px;">
        <li> BPMN 국제 표준을 사용하여 공정 운영 시나리오 모델링 </li>
        <li>Simple Shape & Activity한 도구를 사용하여 쉽고 빠르게 작성</li>
        <li>프로세스 운영 시나리오를 정확하게 설명</li>
        <li>IT 시스템과 연계하여 프로세스 자동화 지원</li>
      </ul>
      <br><br>
      <% for(var i=0; i < data.length; i++){ %>
      <a href="modeler?type=<%=data[i].CODE%>" class="btn btn-primary"
        style="margin-left: 15px; font-size: 15px;"><%=data[i].CODE_DESC %> 모델러</a>
      <% } %>
    </div>
  </div>
</body>

-->

  <!------ Include the above in your HEAD tag ---------->

  <div class="container cta-100 ">
    <div class="container">
      <div class="row blog">
        <div class="col-md-12">
          <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel" data-interval ="8000">
            <ol class="carousel-indicators">
              <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#blogCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">01</span> </div>
                        <!--Image-->
                        <!-- <figure> <img alt=""
                            src="image1.png"> </figure> -->
                          <figure class="dashboard_figure">
                            <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"
                            autoplay="autoplay" height="1000" muted="muted" controls loop>
                                <source src="Test.mp4">
                            </video>
                          </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 에너지솔루션</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>전극 - 운영시나리오 : 145건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 56개 </p>
                          <p> 표준 엑티비티 : 45개 </p>
                          <p style="color: rgba(25, 117, 56, 0.849);"> 시스템 연동 공정 : 52개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">02</span> </div>
                        <!--Image-->
                        <!-- <figure> <img alt=""
                            src="image1.png"> </figure> -->
                        <figure>
                          <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"                          
                            autoplay="autoplay" muted="muted" controls loop>
                              <source src="STK.mp4">
                          </video>
                        </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading" >
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 전자</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>조립 - 운영시나리오 : 55건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 16개 </p>
                          <p> 표준 엑티비티 : 25개 </p>
                          <p style="color: rgba(25, 117, 56, 0.849);"> 시스템 연동 공정 : 12개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">03</span> </div>
                        <!--Image-->
                        <figure>
                          <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"
                            autoplay="autoplay" height="1000" muted="muted" controls loop>
                            <source src="01.Layout.mp4">
                        </video>
                      </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading" >
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 이노텍</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>광학 - 운영시나리오 : 35건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 26개 </p>
                          <p> 표준 엑티비티 : 15개 </p>
                          <p style="color: rgba(25, 117, 56, 0.849);"> 시스템 연동 공정 : 5개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--.row-->
              </div>

              
              <!--.item-->
              <div class="carousel-item ">
                <div class="row">
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">04</span> </div>
                        <!--Image-->
                        <figure>
                          <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"
                            autoplay="autoplay" height="1000" muted="muted" controls loop>
                            <source src="01.Layout.mp4">
                        </video>
                      </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading" >
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 에너지솔루션</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>활성화 - 운영시나리오 : 102건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 23개 </p>
                          <p> 표준 엑티비티 : 23개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">05</span> </div>
                        <!--Image-->
                        <figure>
                          <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"
                            autoplay="autoplay" height="1000" muted="muted" controls loop>
                              <source src="활성화_Degas-설비가동(Degas).mp4">
                          </video>
                        </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading" >
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 에너지솔루션</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>조립 - 운영시나리오 : 75건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 68개 </p>
                          <p> 표준 엑티비티 : 125개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item-box-blog">
                      <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">06</span> </div>
                        <!--Image-->
                        <figure class="dashboard_figure">
                          <video style="border: 1px solid hsl(0,0%,87%); box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;"
                          autoplay="autoplay" height="1000" muted="muted" controls loop>
                              <source src="Test.mp4">
                          </video>
                        </figure>
                      </div>
                      <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading" >
                          <a href="#" tabindex="0">
                            <p style="color:#f44179;"><i class="fa fa-user-o"></i> LG <i class="fa fa-comments-o"></i> 전자</p>
                          </a>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" >
                          <h5>솔라 - 운영시나리오 : 85건</h5>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                          <p> 표준 Task(공정) : 56개 </p>
                          <p> 표준 엑티비티 : 45개 </p>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">이동</a> </div>
                        <!--Read More Button-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--.row-->
              </div>
              <!--.item-->
            </div>
            <!--.carousel-inner-->
          </div>
          <!--.Carousel-->
        </div>
      </div>
    </div>
  </div>

  <div id="portletLightpackBoard" class="widgetTable" style="padding-left: 10%;">
    <h3>
      
        
        
          NOTICE
        
      
    </h3>
    <ul>
      
          
           
        
           
            <li>
              <strong>
                <a class="item" href="/lightpack/board/boardItem/readBoardItemLinkView.do?itemId=162245007365198" linktype="G" title="[중요] EATS-설비사양서 v2.3.5 신규 배포되었습니다. ">
                [중요] EATS-설비사양서 v2.3.5 신규 배포되었습니다.
                </a>
              </strong>						
              <a class="wName" href="#a" onclick="iKEP.goProfilePopupMain('P0951')">
                전지설비제어팀
              </a>
              <span class="wDate">2021.05.31</span>
              
            </li>
           
            <li>
              <strong>
                <a class="item" href="/lightpack/board/boardItem/readBoardItemLinkView.do?itemId=162241928961995" linktype="G" title="[중요] 공정운영시나리오 신규 업데이트 안내">
                [중요] 공정운영시나리오 신규 업데이트 안내
                </a>
              </strong>						
              <a class="wName" href="#a" onclick="iKEP.goProfilePopupMain('P0414')">
                공정운영팀
              </a>
              <span class="wDate">2021.05.31</span>
              
            </li>
           
            <li>
              <strong>
                <a class="item" href="/lightpack/board/boardItem/readBoardItemLinkView.do?itemId=162244418718889" linktype="G" title="폴란드 법인 3-1동 시뮬레이션 모델 v2.3 업데이트 공지">
                폴란드 법인 3-1동 시뮬레이션 모델 v2.3 업데이트 공지
                </a>
              </strong>						
              <a class="wName" href="#a" onclick="iKEP.goProfilePopupMain('66796')">
                공정시뮬레이션팀
              </a>
              <span class="wDate">2021.06.02</span>
              
            </li>
           
            <li>
              <strong>
                <a class="item" href="/lightpack/board/boardItem/readBoardItemLinkView.do?itemId=162200686149522" linktype="G" title="LG Display E5 시뮬레이션 모델 다운로드 안내 (6/14, 월)">
                LG Display E5 시뮬레이션 모델 다운로드 안내 (6/14, 월)
                </a>
              </strong>						
              <a class="wName" href="#a" onclick="iKEP.goProfilePopupMain('P1756')">
                Digital-Twin 센터
              </a>
              <span class="wDate">2021.06.02</span>
              
            </li>       
            
        
       
    </ul>
  </div>

  <!-- <div style="display: inline-block; width: 20%; height: 20%; vertical-align: top; padding-left: 50px;">
      <h1 style="color:rgba(255, 0, 0, 0.609);">  NOTICE</h1>
  </div> -->


  <script type="text/javascript" src="home.app.js"></script>

</html>