<!DOCTYPE html>
<html lang="ko">
<html>
<head>
  <title>Modeler</title>

  <link rel="stylesheet" href="vendor/bpmn-js/assets/diagram-js.css" />
  <link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="vendor/diagram-js-minimap/assets/diagram-js-minimap.css" />
  <link rel="stylesheet" href="vendor/bpmn-js-properties-panel/assets/bpmn-js-properties-panel.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style type="text/css">
   ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #10ad73;
  }

  ul.main:after{
   content:'';
   display: block;
   clear:both;
 }

 li.main {
   float: left;
 }

 li.main a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   width:150px;

 }
 li.main a:hover:not(.active) {
  /*background-color: #4CAF50;*/
  text-decoration: underline;
}
.active {
  text-decoration: underline;
  /*background-color: #4CAF50;*/
}
</style>
</head>
<body>
 <div>
  <ul class='main'>
    <li class='main'><a href="home2">Home</a></li>
    <li class='main'><a href="home">Model List</a></li>
    <li class='main'><a href="viewer" >Viewer</a></li>
    <li class='main'><a class="active" href="modeler">Modeler</a></li>
    <li class='main'><a href="about">About</a></li>
  </ul>
</div>


<p id="xmlData" style="display:none;"><%=name%></p>
<p id="modelID" style="display:none;"><%=modelID%></p>

<div class="content with-diagram" id="js-drop-zone">

  <div class="message intro">
    <div class="note">
      Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
    </div>
  </div>

  <div class="message error">
    <div class="note">
      <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

      <div class="details">
        <span>Import Error Details</span>
        <pre></pre>
      </div>
    </div>
  </div>

  <div class="canvas" id="js-canvas"></div>
  <div class="properties-panel-parent" id="js-properties-panel"></div>
</div>
<div>
  <a id="fileOpen" href="fileOpen" title="파일 열기">파일 열기</a>
</div>
<ul class="buttons">
  <li>

  </li>
  <li>
    <a id="js-download-diagram" href class="active" title="download BPMN diagram">
      모델러 저장
    </a>
  </li>
  <li>
    <a id="js-download-svg" href title="download as SVG image" style="display: none;">
      SAVE SVG
    </a>
  </li>

  <li>
    <form action="/upload" method="post" enctype="multipart/form-data" id="fileForm">
      <input type="file" id="fileInput" name="fileInput">
    </form>
  </li>

  <li>
      <a id="fileOpen" href="download" class="active" title="파일 열기">파일 다운로드</a>
  </li>
</ul>

<script type="text/javascript" src="modeler.app.js"></script>
</html>
