<!DOCTYPE html>
<html>
<head>
  <title>Viewer</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css" />
  <style type="text/css">
  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

  body , html
  {
      font-family: "Noto Sans KR", sans-serif !important;
      font-weight: normal;
      font-style: normal;
      height: 100%;
      padding: 0;
      margin: 0;
  }
  .active 
  {
    text-decoration: underline;
  }

  </style>
</head>
<body>

  
<div style="height: 50px; 
            padding-top: 10px;
            padding-bottom: 20px;
  ">
  <a href="/home2">
    <img src="/logo.png"
      style="border-right: 1px solid hsl(0 0% 87% / 1); 
      padding-right: 20px; 
      padding-left: 20px; "></a>

  <!-- <a href="/home2" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Home</a> -->
  <a href="/home" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">Modeling</a>
  <a href="/modeler" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">BBS</a>
  <a href="/history/1" style="padding-left: 20px; color: hsl(0 0% 50% / 1);">History</a>
  <% if(sess) { %>
  <a href="/logout" style="padding-left: 20px; 
                           position: absolute; 
                           right: 50px; 
                           top : 17px; 
                           color: hsl(0 0% 50% / 1);">
                           Logout</a>
  <% } %>
</div>


<div  style="background-color: hsl(0,0%,97%); 
            padding: 25px 100px; 
            position: relative; 
            height: 10%;
            border-bottom: 1px solid hsl(0 0% 87% / 1);
            border-top: 1px solid hsl(0 0% 87% / 1);
            margin-top: 10px;
            font-size: 19px;
            ">
  Welcome, <%=sess%> 님
</div>

 <p id="xmlData" style="display:none;"><%=name%></p>

 <div class="content with-diagram" id="js-drop-zone">
  
    <div class="message intro">
      <div class="note">
        Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>Import Error Details</span>
          <pre></pre>
        </div>
      </div>
    </div>

   <div class="canvas" id="js-canvas"></div>
 </div>

<div class="zoom">
  <img src="/zoom-reset-icon.png" id="zoom-reset" width="40" height="40">
  <img src="/zoom-in-icon.png" id="zoom-in" width="40" height="40">
  <img src="/zoom-out-icon.png" id="zoom-out" width="40" height="40">
</div>

  <script type="text/javascript" src="viewer.app.js"></script>
</html>
